.message-div
{
  background: #181818;
  color: white;
  border-radius: 5px;
  padding: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 50%;
  display: flex;
  animation: chat-message-right;
  animation-duration: 0.2s;
}

#chat-message-time
{
  font-size: 12px;
  line-height: 18px;
  color: #f1efef;
}

@keyframes chat-message-right
{
  from
  {
    opacity: 0;
    margin-right: -10px;
  } to
  {
    opacity: 1;
    margin-right: unset;
  }
}

@keyframes chat-message-left
{
  from
  {
    opacity: 0;
    margin-left: -10px;
  } to
  {
    opacity: 1;
    margin-left: unset;;
  }
}