.search-component
{
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  box-shadow: 0 6px 15px -3px rgba(0, 0, 0, 0.55);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 300px;
  max-height: 400px;
  background: #323232;
}

.search-header
{
  display: flex;
  padding: 15px;
}

#search-input
{
  width: 100%;
  background-color: #272727 !important;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
}

.search-result
{
  height: fit-content;
}