.search-result-user
{
  height: 50px;
  display: flex;
  padding: 10px;
}

.search-user-picture
{
  background: white;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  margin-top: 5px;
  margin-left: 10px;
}

.search-user-picture img
{
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

.search-user-nick, .search-user-status-quote
{
  margin-left: 10px;
  color: white;
  line-height: 40px;
  padding: 5px 10px;
}

.search-user-friend-request-button
{
  border-radius: 2px;
  width: 50px;
  height: 30px;
  margin-left: auto;
  margin-top: 10px;
}

.search-user-friend-request-button > button
{
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: transparent;
  color: gray;
}

.search-user-friend-request-button > button:hover
{
  color: #42D285;
}